.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  list-style: none;
  position: relative;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 282px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}

.card__like-button {
  background: transparent url(../images/Group.svg) center no-repeat;
  width: 21px;
  height: 18px;
  transition: opacity linear 8ms;
  border: none;
  padding: 0;
  margin: 0;
}

.card__like-button_active {
  background-image: url("../images/Union.svg");
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__delete-button {
  background: transparent url(../images/Group\ \(1\).svg) center no-repeat;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  transition: opacity linear 8ms;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 60%;
}
